.root {

  .projectWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }


  .btn {
    font-size: 0.875rem;
    color: #0969da;
    cursor: pointer;

    &:hover,
    &:focus {
      text-decoration: underline;
      outline: none;
    }
  }

  .title {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: #1f2328;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr)); // 280px → rem
    gap: 1rem;
    justify-items: center;
    width: 100%;

    li {
      display: flex;
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    .projectWrap {
      // flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
    }

    .container {
      grid-template-columns: 1fr;
    }
  }
}