.root {
  width: 100%;
  max-width: 320px;
  margin-right: 26px;
  display: flex;
  flex-direction: column;

  .profile {
    display: flex;
    flex-direction: column;

    .thumbnail {
      width: 100%;
      border-radius: 50%;
      object-fit: cover;
      border: 2px solid #e0e0e0e1;
    }

    .info {
      margin: 16px 0;
      margin-top: 1rem;

      .name {
        font-size: 1.5rem;
        font-weight: 700;
      }

      .email {
        margin-top: 10px;
        font-size: 1.2rem;
        color: #59636e;
        font-weight: 300;
      }

      .desc {
        font-size: 1rem;
        color: #111827;
        margin: 1.5rem 0 1rem;
        word-break: keep-all;
        text-align: left;
        font-weight: 300;
        font-size: 18px;
        line-height: 1.5;
      }
    }
  }

  .contact {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    a,
    div {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: 1rem;
      color: #111827;
      text-decoration: none;
    }

    a>span {
      color: #0969da;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  @media (max-width: 768px) {
    margin-bottom: 50px;
  }
}