@import '../../../assets/styles/utils/mixins';

.root {
  display: flex;
  border: 1px solid #d0d7de;
  padding: 16px;
  border-radius: 6px;
  // margin: 10px;


  &.showImg {
    flex-direction: column;

    img {
      width: 100%;
      // background-color: red;
    }

  }

  .imgWrap {
    // &.default {
    width: 450px;
    height: 250px;
    overflow: hidden;
    margin-bottom: 10px;
    // }
  }

  .detail {
    flex: 1;
    // margin-left: 20px;
    overflow: hidden;

    .title {
      display: flex;
      align-items: center;
      justify-content: center;

      margin-bottom: 4px;
      padding-right: 10px;

      @include line-clamp(20px, 1);

      flex: 1;
      font-size: 14px;
      font-weight: 600;

      cursor: pointer;

      position: relative;

      &>span {
        color: #0969da;
      }
    }

    .info,
    .tool {
      margin-top: 8px;
      font-size: 14px;
      color: #59636e;
    }

    .info {
      padding-top: 8px;
      padding-bottom: 16px;
      line-height: 1.5;
    }

    .tool {
      position: relative;
      padding-left: 15px;

      &.javascript {
        &:before {
          background-color: #f1e05a;
        }
      }

      &:before {
        position: absolute;
        display: block;
        content: '';
        width: 12px;
        height: 12px;
        border-radius: 50%;
        left: 0;
        top: 0;
        background-color: red;
      }
    }
  }
}