@import '../../../assets/styles/utils/mixins';

.root {
  margin-top: 48px;

  .date {
    margin-top: 0px;
    position: absolute;
    top: -27px;
    left: -33px;
    font-size: 14px;
    width: 100%;
    border-bottom: 1px solid #ddd;

    &>span {
      line-height: 0;
      background-color: white;
      padding-top: -8px;
      padding-right: 10px;
    }
  }

  .title {
    line-height: 24px;
    flex: 1;
    font-weight: 400;
    font-size: 1rem;
    font-weight: 500;
    color: #1f2328;
  }

  .items {
    position: relative;
    margin-top: 50px;
    padding-left: 30px;
  }

  .item {
    position: relative;
    margin-bottom: 52px;
    border-left: 2px solid #ddd;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .dot {
    position: absolute;
    left: -8px;
    top: 13px;
    width: 14px;
    height: 14px;
    background: #fff;
    border: 2px solid #007aff;
    border-radius: 50%;
  }

  .content {
    margin-left: 20px;
    padding-top: 8px;
  }

  .company {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    line-height: 24px;
    font-weight: 400;
    font-size: 1rem;
    font-weight: 500;
    color: #1f2328;
  }

  .role {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #444;
  }

  .tasks {
    margin: 0;
    padding-left: 18px;
    list-style: disc;
    font-size: 14px;
    color: #333;
    line-height: 1.6;
  }

  .footer {
    margin-top: 12px;
    font-size: 13px;
    color: #444;
  }

  .footer p {
    margin: 4px 0;
  }
}