@import '../../../assets/styles/utils/mixins';

.root {
  margin-top: 3rem; // 48px → rem

  .range {
    margin-top: 0px;
    position: absolute;
    top: -27px;
    left: -33px;
    font-size: 14px;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.5rem;

    &>span {
      line-height: 0;
      background-color: white;
      padding-top: -8px;
      padding-right: 10px;
    }
  }

  .title {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: #1f2328;
  }

  .items {
    position: relative;
    margin-top: 3rem; // 50px;
    padding-left: 1.875rem; // 30px → rem
  }

  .item {
    position: relative;
    margin-bottom: 3.25rem; // 52px
    border-left: 0.125rem solid #ddd; // 2px

    &:last-child {
      margin-bottom: 0;
    }
  }

  .dot {
    position: absolute;
    left: -0.5rem; // -8px
    top: 0.8125rem; // 13px
    width: 0.875rem; // 14px
    height: 0.875rem;
    background: #fff;
    border: 0.125rem solid #007aff;
    border-radius: 50%;
  }

  .container {
    margin-left: 1.25rem; // 20px
    padding-top: 0.5rem; // 8px;
  }

  .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem; // 16px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem; // 24px;
    color: #1f2328;
  }

  .role {
    font-size: 0.875rem; // 14px;
    font-weight: 500;
    margin-bottom: 0.625rem; //10px;
    color: #444;
  }

  .tasks {
    margin: 0;
    padding-left: 1.125rem; // 18px
    list-style: disc;
    font-size: 0.875rem; // 14px
    color: #333;
    line-height: 1.6;
  }


  @media (max-width: 768px) {
    .range {
      left: 0;
    }

    .items {
      padding-left: 0;
      margin-top: 2.5rem;
    }

    .dot {
      left: -0.25rem;
    }
  }
}