@import 'assets/styles/base/_reset.scss';

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex: 1;
  padding: 0 32px;
  padding-top: 50px;
  justify-content: center;
  min-height: 0;
  align-items: flex-start;

  overflow-y: auto;
  scrollbar-gutter: stable;
}

.body {
  flex: 1;
  max-width: 978px;
  padding-bottom: 48px;
  min-height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}