// 클래스의 이름을 고유하게 바꿔주기 때문


.root {
  width: 100%;
  height: 100%;
  // background-color: red;

  .historyItems {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;

    .history {
      background-color: pink;
    }
  }
}