.root {
  width: 100%;
  height: 100%;
  // margin-top: 32px;
  // margin-bottom: 32px;

  .btn {
    font-size: 14px;
    color: #0969da;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .projectWrap {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }

  .date {
    height: 14px;
    border: 1px solid #d1d9e0;
  }

  .title {
    line-height: 24px;
    flex: 1;
    font-weight: 400;
    font-size: 1rem;
    font-weight: 500;
    color: #1f2328;
  }

  .historyItems {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;

    .history {
      background-color: pink;
    }
  }

  .container {
    grid-template-columns: repeat(2, minmax(0px, 1fr));
    gap: 15px 15px;
    display: grid;
    place-content: start center;
    place-items: start;
    width: 100%;

    // display: flex;
    // flex-wrap: wrap;
  }


  .graph {
    width: 300px;
    height: 300px;
    // background-color: royalblue;
    position: relative;

    .line {
      border-left: thick solid #000;
      height: 100%;
      left: 50%;
      position: absolute;

      &.horizon {
        border-left: 0;
        border-top: thick solid #000;
        width: 100%;
        left: 0;
        top: 50%;
      }
    }
  }

  .company {
    margin-top: 48px;
  }
}