.root {
  display: flex;
  align-items: center;
  background-color: #f6f8fa;
  height: 56px;
  padding: 0 20px;

  .menu {
    width: 32px;
    height: 32px;
    border: 1px solid #d1d9e0;
    border-radius: 4px;
    // border-color: red;
    align-items: center;
    /* justify-items: center; */
    display: flex;
    /* text-align: center; */
    /* margin: auto; */
    margin-right: 16px;
  }

  .menuIcon {
    opacity: 0.8;
    margin: auto;
  }

  .name {}

  .logo {
    width: 32px;
    height: 32px;
    margin-right: 16px;
  }
}