.root {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #f6f8fa;
  padding: 0 1rem;
  height: 56px;

  .menu {
    width: 32px;
    height: 32px;
    border: 1px solid #d1d9e0;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;

    .icon {
      opacity: 0.8;
      font-size: 1.25rem;
    }
  }

  .logo {
    width: 32px;
    height: 32px;
  }
}